* {
  box-sizing: border-box;
  font-size: 1.15rem;
  font-family: "Chakra Petch", sans-serif;
  color: ghostwhite;
}
html {
  height: 100%;
  line-height: 1.25;
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #434343 74%);
  background-size: cover;
}
body {
  max-width: 70ch;
  height: 100%;
  padding: 1rem 1rem;
  margin: auto;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
input {
  line-height: 1.25;
  width: 100%;
  height: 1.8rem;
  font-size: 1.15rem;
  border: 1px solid grey;
  color: black;
}
button {
  padding: 0.5rem 1rem;
  border: 1px solid ghostwhite;
  border-radius: 10px;
  background-color: #0cbaba;
  background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
  cursor: pointer;
}
button:hover {
  opacity: 0.8;
}
.button-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.hidden {
  display: none;
}
.messages {
  margin: 1% auto;
  height: 60vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: scroll;
  padding: 1rem;
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}
.user-message {
  width: 80%;
  border: 1px solid ghostwhite;
  border-radius: 7px;
  margin-top: 2%;
  padding: 1rem;
  word-wrap: break-word;
}
.peer-message {
  width: 80%;
  border: 1px solid ghostwhite;
  border-radius: 7px;
  margin-top: 2%;
  padding: 1rem;
  word-wrap: break-word;
  align-self: flex-end;
}
@media screen and (max-width: 600px) {
}
