* {
  box-sizing: border-box;
  font-size: 1.1rem;
  font-family: "Chakra Petch", sans-serif;
  color: ghostwhite;
}
html {
  height: 100%;
  line-height: 1.25;
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #434343 74%);
  background-size: cover;
}
body {
  max-width: 80ch;
  height: 100%;
  padding: 0.5rem;
  margin: auto;
  display: flex;
  flex-direction: column;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
input {
  line-height: 1.25;
  width: 100%;
  height: 1.8rem;
  font-size: 1.15rem;
  border: 1px solid grey;
  color: black;
}

span {
  font-size: 0.8rem;
}

button:hover {
  opacity: 0.7;
}

.title-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.submit,
.gen_nsec,
.generate,
.chat-submit-button,
.send {
  padding: 0.5rem 1rem;
  border: 1px solid ghostwhite;
  border-radius: 10px;
  background-color: #0cbaba;
  background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
  cursor: pointer;
}

.chat-submit-button {
  margin-top: 2%;
  margin-bottom: 2%;
}

.button-input-row {
  position: absolute;
  bottom: 20px;
  left: 14%;
  right: 14%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.button-input-row .msg {
  flex-grow: 1;
  margin-right: 1rem;
}

.button-input-row .send {
  flex-shrink: 0;
}

.hidden {
  display: none;
}

.toggle-button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: ghostwhite;
  background-color: green;
  border: 1px solid ghostwhite;
  border-radius: 10px;
  cursor: pointer;
  align-self: flex-start;
}
.toggle-button:hover {
  opacity: 0.7;
}

.messenger {
  position: relative;
  width: 100%;
  height: 100%;
  flex-grow: 1;
}

.messages {
  height: calc(100% - 5rem);
  margin: 0 auto;
  padding: 3%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: auto;
  border-bottom: 1px solid grey;
  position: absolute;
  width: 100%;
}

.user-message {
  width: fit-content;
  max-width: 80%;
  min-width: 35%;
  border-radius: 7px;
  margin-top: 2%;
  padding: 0.2rem 0.5rem;
  word-wrap: break-word;
  align-self: flex-end;
  background-color: #4b6cf0;
  position: relative;
}

.user-message:after {
  content: "";
  position: absolute;
  bottom: 0%;
  right: -20px;
  margin-top: -5px;
  width: 0;
  height: 0;
  border-top: 39px solid transparent;
  border-left: 45px solid #4b6cf0;
  border-radius: 10px;
  z-index: -100;
}

.user-message span,
.peer-message span {
  font-size: 0.8rem;
  color: ghostwhite;
}

.user-message p,
.peer-message p {
  padding-bottom: 2%;
}

.timestamp {
  position: absolute;
  bottom: 2%;
  right: 2%;
}

.peer-message {
  position: relative;
  width: fit-content;
  max-width: 80%;
  min-width: 35%;
  border-radius: 7px;
  margin-top: 2%;
  padding: 0.2rem 0.5rem;
  word-wrap: break-word;
  background-color: #686262;
  position: relative;
}

.peer-message:after {
  content: "";
  position: absolute;
  bottom: 0%;
  left: -20px;
  margin-top: -5px;
  width: 0;
  height: 0;
  border-top: 39px solid transparent;
  border-right: 45px solid #686262;
  border-radius: 10px;
  z-index: -100;
}

.options-button {
  position: absolute;
  top: 2%;
  right: 2%;
  border: none;
  background: none;
  color: white;
  cursor: pointer;
  text-align: right;
}

.chat-options-button {
  border: none;
  background: none;
  color: white;
  align-self: center;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 15%;
  right: 1%;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  color: black;
  border-radius: 5px;
}

.dropdown-content p {
  color: black;
  font-size: 0.8rem;
  padding: 0 0.3rem;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.dropdown-content p:hover {
  opacity: 0.7;
}

.show {
  display: block;
}

.dropdown-wrapper {
  position: relative;
  display: inline-block;
}

.chat-dropdown-content {
  display: none;
  position: absolute;
  right: 10%;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 0.5rem;
  z-index: 1;
}

.chat-dropdown-content p {
  color: black;
  font-size: 0.8rem;
  padding: 0 0.3rem;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.chat-dropdown-content.show {
  display: block;
}

.chat-dropdown-content p:hover {
  opacity: 0.7;
}

.alias-input {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
  width: 70%;
  margin-right: 3%;
  margin-bottom: 8%;
}

.save-button {
  background-color: #4caf50;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 3% auto;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 7px;
}

.black-bg {
  display: none;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.5;
  width: 100vw;
  height: 100vh;
}
.modal {
  display: none;
  position: fixed;
  box-sizing: border-box;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 560px;
  background-color: white;
  border-radius: 1rem;
  padding: 20px;
  color: black;
  text-align: center;
  word-wrap: break-word;
}
.modal * {
  color: black;
}

@media screen and (max-width: 600px) {
  * {
    font-size: 1rem;
  }
  .button-input-row {
    left: 4%;
    right: 4%;
    margin-top: 0.2rem;
  }
  body {
    padding-bottom: 0;
  }
  .messages {
    padding: 5%;
  }
  .user-message,
  .peer-message {
    max-width: 90%;
    min-width: 60%;
  }
  .timestamp {
    padding: 2%;
  }

  .chat-options-button {
    top: 50%;
  }
}

/* Animation */

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 60px;
  padding: 0;
}

.lds-ripple div {
  position: absolute;
  border: 6px solid purple;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 3s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  animation-delay: -1.5s;
}

@keyframes lds-ripple {
  0% {
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}
